* {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
}

body {
	background: #d63926;
}

h1 {
	margin-top: 20px;
	padding-bottom: 2%;
	font-family: 'Arvo', serif;
	text-align: right;
	padding-right: 2%;
	font-size: 4.2em;
	color: #fddf81;
	text-shadow: 3px 3px #2a3252;
}

h2 {
	font-family: 'Arvo', serif;
	margin-top: 2%;
	margin-bottom: 2%;
	color: #fddf81;
	text-align: center;
	font-size: 1.5em;
	text-shadow: 1px 1px black;	
}

h4 {
	font-size: 30px;
	font-weight: normal;
	padding-bottom: 5px;
}

#title {
	position: relative;
}

#tabs {
	position: absolute;
	left: 50px;
	bottom: 0px;
}

#content {
	display: block;
	padding-left: 3%;
	width: 100%;
	height: 550px;
	background-color: white;
	text-align: center;
	min-width: 1300px;
	border: #2a3252;
	border-style: solid;
}

#svg {
	float: left;
	background: white;
	height: 500;
	width: 900;
	margin-bottom: 5%;
}

#centered {
	margin: auto;
	width: 1300px;
}

#filter {
	width: 150px;
	padding-top: 30px;
	float: left;
	display: block;
	text-align: left;
}

#info {
	background-color: #2a3252;
	height: 100%;
	width: 20%;
	display: block;
	float: right;
	color: white;
  	overflow-y:auto;
}

#info_content {
	text-align: left;
	padding: 25px;
  	font-size: .85em;
}

#popcorn {
	text-align: center;
	height: 60px;
}

#popimg {
    width: 40%;
    height: 60%;
}

/* Checkbox Styling */

input[type=checkbox].css-checkbox {
	z-index: 1;
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

.css-label{
	margin-bottom: 2px;
	background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);
}

/*specific classes related to Checkbox skins*/

.lite-green-check{background-image:url(http://csscheckbox.com/checkboxes/lite-green-check.png);}
.lite-blue-check{background-image:url(http://csscheckbox.com/checkboxes/lite-blue-check.png);}
.lite-gray-check{background-image:url(http://csscheckbox.com/checkboxes/lite-gray-check.png);}
.lite-cyan-check{background-image:url(http://csscheckbox.com/checkboxes/lite-cyan-check.png);}
.lite-orange-check{background-image:url(http://csscheckbox.com/checkboxes/lite-orange-check.png);}
.lite-red-check{background-image:url(http://csscheckbox.com/checkboxes/lite-red-check.png);}

/* Navigation Things */

ul.nav {
	font-size: 0;
	display: inline-block;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	color: #6ab7cb;
	font-family: 'Arvo', serif;
}

li.nav {
	float:left;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	font-family: 'Arvo', serif;
}

a.nav:link, a.nav:visited {
	font-family: 'Arvo', serif;
	background-color: #2a3252;
	font-size: 20px;
	display: block;
	width: 120px;
	/*margin-top: 70px;*/
	/*z-index: -1;*/
	height: 30px;
	font-weight: normal;
	text-align: center;
	color: white;
	padding-top: 5px;
	text-decoration: none;
	text-transform: uppercase;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

a.nav:hover, a.nav:active {
	background-color: #751706;
	color: white;
	font-weight: bold !important;
}

.selected {
	background-color: white !important;
	color: #2a3252 !important;
	font-family: 'Arvo', serif;
}

.node_selected {
	stroke-width: 3px; 
	stroke: black;
}

.highlighted {
	color: #fddf81 ;
}

input {
	margin-top: 20px;
	margin-right: 10px;
	width: 50px;
	height: 15px;
	font-size: 13px;
	float: left;
	font-family: Helvetica;
}

#barGraph {
	padding-left: 3%;
	background: white;
	border: #2a3252;
	border-style: solid;
	display: block;
	padding-left: 3%;
	width: 100%;
	min-width: 1300px;
	text-align: center;
}

.axis path {
	fill: none; stroke: #000000; 
}

.axis line {
	stroke: #000000; 
}

.axis text { 
	font-size: x-small; 
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

#groupstack {
	margin: 0;
	float: left;
	width: 5%;
	padding-left: 3%; 
	text-align: left;
}

footer {
	background: #d63926;
	height: 20%;
}